:root {
	--border-color: #d8d8d8;
	--background-color: #ffffff;

	--color-font: #212121;
	--color-additional-font: #5e5e5e;
	--project-border-color: #a5a5a5;
	--background-color-progress: #d8d8d8;
	--background-color-progress-fill-line: #212121;

	--print-color-font: #212121;
	--print-background-color: #212121;
}

.dark-mode {
	--border-color: #d8d8d8;
	--background-color: #212121;

	--color-font: #f0f0f0;
	--color-additional-font: #c5c5c5;
	--project-border-color: #a5a5a5;
	--background-color-progress: #212121;
	--background-color-progress-fill-line: #d8d8d8;

	--print-color-font: #212121;
	--print-background-color: #212121;
}
